
@{
    ViewBag.Title = "Index";
}
    <div class="container container-fluid">
        <div class="text-center">
            <h3>Aqui jaz a página inicial deste belo projecto</h3>
            <h5>São <span class="hora">@ViewBag.horas</span>,  <span class="saudacao">@ViewBag.saudacao</span> utilizador anónimo.</h5>

            <img src="https://boygeniusreport.files.wordpress.com/2019/05/capture-2.png?w=782" alt="this is not a tomato" class="tomato" />
        </div>
    </div>
