
@{
    ViewBag.Title = "Index";
}

<h2>Apagar Registos por ID</h2>


<div>
    <label>Qual o id da tarefa a eliminar?</label>
    @using (Html.BeginForm())
    {
        <div>@Html.TextBox("id_tarefa")
            <input type="submit" name="name" value="confirmar" />
        </div>        
    }
    <p>enviaste a tarefa: @ViewBag.teste</p>
</div>
